$primary-color: black;
$secondary-color: white;
// $tertiary-color: grey;
$tertiary-color: rgb(240, 240, 240);
$bg-light: rgb(250, 250, 250);
// $link-color: #0096FF;
// $link-color: #002D62;
$link-color: #034694;