.contact {
    .main-nav {
        // to change header photo go to respective page scss file
        background-image: url("../images/call.jpg");
    }

    .company-info {
        background-color: $bg-light;
        padding: 12px;

        h1 {
            padding: 6px;
            border-bottom: 4px solid $tertiary-color;

            i {
                color: red;
                margin-right: 12px;
            }
        }

        ul {
            li {
                list-style-type: none;

                i {
                    margin-right: 12px;
                }
            }
        }


    }

    .map {
        iframe {
            width: 100%;
        }
    }

}


@media screen and (min-width:970px) {
    .contact {

        .contact-details {
            display: grid;
            grid-template-columns: 40% 55%;
            column-gap: 10px;

            max-width: 970px;
            margin: 20px auto;
            padding: 20px;
        }
    }
}

@media screen and (max-width:768px) {
    .contact {
        .company-info {
            margin: 10px;
            padding: 10px;
        }

        .map {
            margin: 10px;
        }
    }
}