* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main-nav::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
}

@media screen and (min-width: 970px) {
  .main-nav h1 {
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    color: white;
    z-index: 1;
  }
  .main-nav p {
    display: none;
  }
  .main-nav ul {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 12px;
    margin: 12px;
  }
  .main-nav ul li {
    list-style-type: none;
    padding: 8px;
    margin: 8px;
    font-size: 20px;
  }
  .main-nav ul li a {
    color: white;
    text-decoration: none;
  }
  .main-nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px;
  }
}
@media screen and (max-width: 768px) {
  .main-nav h1 {
    display: none;
  }
  .main-nav #menu-icon,
.main-nav ul {
    position: absolute;
    z-index: 1;
  }
  .main-nav #menu-icon {
    color: white;
    padding: 12px 12px 0 12px;
    margin: 0;
    font-size: 50px;
    top: 0;
  }
  .main-nav #menu-icon i {
    padding: 0;
    margin: 0;
  }
  .main-nav ul {
    top: 15%;
    padding: 0;
    display: none;
    width: 0;
    background-color: rgb(250, 250, 250);
  }
  .main-nav ul li {
    list-style-type: none;
    padding: 8px;
    border-bottom: 3px solid white;
  }
  .main-nav ul li a {
    text-decoration: none;
    color: #034694;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideOut {
  -webkit-animation: slideOut;
          animation: slideOut;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@-webkit-keyframes slideOut {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
@keyframes slideOut {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
.contact .main-nav {
  background-image: url("../images/call.jpg");
}
.contact .company-info {
  background-color: rgb(250, 250, 250);
  padding: 12px;
}
.contact .company-info h1 {
  padding: 6px;
  border-bottom: 4px solid rgb(240, 240, 240);
}
.contact .company-info h1 i {
  color: red;
  margin-right: 12px;
}
.contact .company-info ul li {
  list-style-type: none;
}
.contact .company-info ul li i {
  margin-right: 12px;
}
.contact .map iframe {
  width: 100%;
}

@media screen and (min-width: 970px) {
  .contact .contact-details {
    display: grid;
    grid-template-columns: 40% 55%;
    -moz-column-gap: 10px;
         column-gap: 10px;
    max-width: 970px;
    margin: 20px auto;
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .contact .company-info {
    margin: 10px;
    padding: 10px;
  }
  .contact .map {
    margin: 10px;
  }
}
.profile .main-nav {
  background-image: url("../images/ham_sport.jpg");
}
.profile p {
  padding: 6px;
}
.profile .profile-details {
  max-width: 970px;
  margin: 12px auto;
}
.profile .profile-details h2,
.profile .profile-details h3 {
  text-align: center;
  border-bottom: 4px solid white;
  padding: 12px;
  margin: 12px;
}
.profile .profile-details .partners ul li {
  list-style-type: none;
}
.profile .profile-details .partners ul li a {
  text-decoration: none;
  color: #034694;
  font-size: 14px;
}

@media screen and (min-width: 900px) {
  .profile .profile-details {
    max-width: 900px;
    margin: 12px auto;
    padding: 12px;
  }
  .profile .profile-details .mission-values {
    display: flex;
    justify-content: space-between;
    flex: 250px;
  }
  .profile .profile-details h2,
.profile .profile-details h3 {
    padding: 12px;
    margin: 12px;
  }
  .profile .profile-details .history {
    padding: 8px;
    margin: 8px;
  }
  .profile .profile-details .mission-values .mission,
.profile .profile-details .mission-values .values {
    padding: 12px;
    margin: 12px;
  }
}
@media screen and (max-width: 969px) {
  .profile-details {
    margin: 4px auto;
    padding: 4px;
  }
  .profile-details h2,
.profile-details h3 {
    padding: 6px;
    margin: 6px;
  }
  .profile-details .history {
    padding: 8px;
    margin: 8px;
  }
  .profile-details .mission-values .mission,
.profile-details .mission-values .values {
    padding: 8px;
    margin: 8px;
  }
  .profile-details .partners {
    padding: 6px;
    margin: 6px;
  }
}
.expertise .main-nav {
  background-image: url("../images/ham_sport.jpg");
}
.expertise .expertise-item {
  width: 100%;
  height: 500px;
}
.expertise .expertise-item a {
  text-decoration: none;
}
.expertise .expertise-item figure {
  position: relative;
  height: 100%;
}
.expertise .expertise-item figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.expertise .expertise-item figure figcaption {
  position: relative;
  top: -10vh;
  color: white;
  padding: 12px;
}
.expertise .expertise-item figure::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 970px) {
  .expertise .expertise-details {
    display: grid;
    grid-template-columns: 50% 50%;
    -moz-column-gap: 12px;
         column-gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .expertise .expertise-details .expertise-item {
    margin-top: 12px;
  }
}
@media screen and (max-width: 768px) {
  .expertise .expertise-item {
    margin-top: 6px;
  }
}
.footer .links {
  display: flex;
  justify-content: space-evenly;
  margin: 12px;
  padding: 12px;
  border-top: 4px solid white;
}
.footer .links h3 {
  font-size: 16px;
}
.footer .links ul li {
  list-style-type: none;
  font-size: 14px;
  padding: 6px;
  margin: 6px;
}
.footer .links ul li a {
  color: #034694;
  text-decoration: none;
}
.footer .links ul li a:hover {
  opacity: 0.9;
  transform: scale(0.9);
}
.footer .social {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 12px;
  border-top: 4px solid white;
}
.footer .social p {
  align-self: center;
}
.footer .social ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .social ul li {
  padding: 8px;
  margin: 8px;
  list-style-type: none;
}
.footer .social ul li i {
  color: #034694;
  font-size: 18px;
}
.footer .social ul li i:hover {
  transform: scale(0.9);
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .footer .links {
    display: block;
  }
  .footer .social {
    flex-wrap: wrap;
  }
  .footer .social p {
    font-size: 12px;
    order: 2;
  }
  .footer .social ul {
    order: 1;
    flex-direction: row;
  }
}
[data-entrance] {
  visibility: hidden;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: "Montserrat", sans-serif;
}

.index .index-nav {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.index .carousel-item {
  position: relative;
}
.index .carousel-item img {
  width: 50%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}
.index .carousel-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

@media screen and (min-width: 970px) {
  .index-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
  }
  .index-nav h1 {
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    color: white;
  }
  .index-nav p {
    display: none;
  }
  .index-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin: 12px;
  }
  .index-nav ul li {
    list-style-type: none;
    padding: 8px;
    margin: 8px;
    font-size: 20px;
  }
  .index-nav ul li a {
    color: white;
    text-decoration: none;
  }
  .index-nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px;
  }
}
@media screen and (max-width: 768px) {
  .index-nav h1 {
    display: none;
  }
  .index-nav #menu-icon,
.index-nav ul {
    position: absolute;
    z-index: 2;
  }
  .index-nav #menu-icon {
    color: white;
    padding: 12px 12px 0 12px;
    margin: 0;
    font-size: 50px;
    top: 0;
  }
  .index-nav #menu-icon i {
    padding: 0;
    margin: 0;
  }
  .index-nav ul {
    top: 15%;
    padding: 0;
    display: none;
    width: 0;
    background-color: rgb(250, 250, 250);
  }
  .index-nav ul li {
    list-style-type: none;
    padding: 8px;
    border-bottom: 3px solid white;
  }
  .index-nav ul li a {
    text-decoration: none;
    color: #034694;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideOut {
  -webkit-animation: slideOut;
          animation: slideOut;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}/*# sourceMappingURL=index.css.map */